/* buenos aires */
@font-face {
    font-display: swap;
    font-family: AOKBuenosAires;
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/aok/AOKBuenosAires-Regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: AOKBuenosAires;
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/aok/AOKBuenosAires-SemiBold.woff2") format("woff2");
}

/* buenos aires text */
@font-face {
    font-display: swap;
    font-family: AOKBuenosAiresText;
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/aok/AOKBuenosAiresText-Regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: AOKBuenosAiresText;
    font-style: italic;
    font-weight: 400;
    src: url("/assets/fonts/aok/AOKBuenosAiresText-RegularItalic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: AOKBuenosAiresText;
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/aok/AOKBuenosAiresText-SemiBold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: AOKBuenosAiresText;
    font-style: italic;
    font-weight: 600;
    src: url("/assets/fonts/aok/AOKBuenosAiresText-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: AOKBuenosAiresText;
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/aok/AOKBuenosAiresText-Bold.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: AOKBuenosAiresText;
    font-style: italic;
    font-weight: 700;
    src: url("/assets/fonts/aok/AOKBuenosAiresText-BoldItalic.woff2") format("woff2");
}
